<div class="container">
    <form>
    <div class="row">
      <div class="col-25">
        <label for="fname">Pharmacy Name</label>
      </div>
      <div class="col-75">
        <select [(ngModel)]="pharmacyName" name="something">
          <option value="">
           ----Select pharmacy----
          </option>
          <option *ngFor="let n of pharmacies">
            {{n.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Objection</label>
      </div>
      <div class="col-75">
        <textarea name="objectionText" placeholder="Write something.." style="height:200px"  [(ngModel)]="textObjection" required ></textarea>
      </div>
    </div>
    <div class="row">
      <input (click)="sendObjection()" type="submit" value="Send">
    </div>
    </form>
  </div>


