/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

.is-primary {
  background-color: #5688C7 !important;
}

.is-info{
  background-color: #13293D !important;
}

.is-warning{
  border-color: #EFB0A1 !important;
}

td{
  height: 1.5rem;
  vertical-align: center;
}
