.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: center;

    .mapOfTheHospitalComplex-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        padding: F4F4F9;
        height: 500px;

        background: #65d2f3;
        border: 1px solid #EFB0A1;


        .unit {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;

            .row {
                display: flex;
                flex-direction: row;
                width: 100%;


                .item {
                    width: calc(100% - 40px);
                    text-align: center;
                    color: black;
                    padding: 20px;
                    margin: 10px;
                    cursor: pointer;
                    position: relative;

                    overflow: visible;
                    
                    h2 {
                        margin: 0;
                        
                    }

                    .description {
                        display: none;
                        position: absolute;
                        top: -15px;
                        right: -15px;
                        padding: 15px;
                        background: #F4F4F9;
                        border: 1px solid #000000;
                        z-index: 9999999;
                    }

                    &:hover {
                        .description {
                            display: block;
                        }
                    }
                }
            }

            
        }
    }

    
    .mainHospitalBuilding {
        border: 1px solid #000000;
        transition: .15s;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
        height: 140px;

        background: white;
        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .mainHospitalBuildingFloor1 {
        border: 1px solid #000000;
        transition: .15s;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
        height: 140px;

        background: white;
        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .ambulanceFloor1 {
        background: #5688C7;
        border: 1px solid #000000;
        transition: .15s;
        height: 150px;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 

        
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/ambulance-car.jpg");
        background-size: cover;


        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }


    .ambulance {
        background: #5688C7;
        border: 1px solid #000000;
        transition: .15s;
        height: 150px;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 

        
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/ambulance-car.jpg");
        background-size: cover;


        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .parkingLot {
        background: #54b4f0;
        border: 1px solid #000000;
        transition: .15s;

        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/parking-invalid.jpg");
        background-size: contain;
        background-repeat: no-repeat;

        
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/parking-invalid.jpg");
        background-size: contain;

        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .backBotton {
        transition: .15s;
        height: 20px;
        position:absolute; 
        top: -20px;; left:0; right:0; bottom:0;; 


        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .floorButton {
        transition: .15s;
        height: 20px;
        position:absolute; 
        top: -10px;; left:0; right:0; bottom:0;; 
        border: 1px solid #000000;
        background: #d87a62;


        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .laboratory {
        border: 1px solid #000000;
        transition: .15s;

        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/laboratory.jpg");
          background-size: 80%;
      

        
        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .room {
        background: #13293D;
        border: 1px solid #13293D;
        transition: .15s;
        height: 90px;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
        
    }

    .waitingRoom {
        background: #EFB0A1;
        border: 1px solid #000000;
        transition: .15s;
        
    }

    .floor {
        background: #EFB0A1;
        border: 1px solid #000000;
        transition: .15s;
        
        &:hover {
            opacity: .85;
            transition: .15s;
        }
    }

    .office {
        background-color: #5688C7;
        border: 1px solid #000000;
        transition: .15s;
        height: 70px;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
        
    }

    .radiology {
        background-color: #1755a7;
        border: 1px solid #000000;
        transition: .15s;
        height: 90px;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
    }

    .toilet {
        background-color: #90b9f0;
        border: 1px solid #000000;
        transition: .15s;
        width: 30px;
        height: 80px;
        margin: 10px 0;
    }

    img {
        max-width: 100%;
        height: auto;
      }

    .reception {
        background-color: #009DDC;
        border: 1px solid #000000;
        transition: .15s;
    }

    .elevator {
        background-color: #6d6d6d;
        border: 1px solid #000000;
        transition: .15s;
        width: 7%;
    }

    .operationRoom {
        background-color: #13293D;
        border: 1px solid #000000;
        transition: .15s;
        width: 30%;
        height: 90px;
    }

    .hospitalRoom {
        background-color: #F4F4F9;
        border: 1px solid #000000;
        transition: .15s;
        width: 7%;
    }

    .park {
        background: #3ab302;
        border: 1px solid #000000;
        transition: .15s;
        position:absolute; 
        top:0; left:0; right:0; bottom:0; 
        height: 140px;

        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
          ),
          url("/assets/images/park.jpg");
        background-size: 50%;
    }
}