<div class="container">

  <div class="mapOfTheHospitalComplex-container">

      <div *ngIf="isUnitSelected(units.mapOfTheHospitalComplex)" class="unit">
          <div class="row">
              <div class="item laboratory" (click)="changeUnit(units.laboratory)">
                  <h2>Laboratory</h2>
              </div>
              <div class="item ambulanceFloor1" (click)="changeUnit(units.ambulanceFloor1)">
                  <h2>Ambulance</h2>
              </div>
          </div>
          <div class="row">
              <div class="item parkingLot" (click)="changeUnit(units.parkingLot)">
                  <h2 style="color : transparent" >Parking Lot</h2>
              </div>
          </div>
          <div class="row">
            <div class="item mainHospitalBuildingFloor1" (click)="changeUnit(units.mainHospitalBuildingFloor1)">
                <h2 >Main hospital building</h2>
                <img src="/assets/images/Logo.jpg" width="150">
            </div>
            <div class="item park">
                <h2>Park</h2>
            </div>
        </div>
        
      </div>


        <div *ngIf="isUnitSelected(units.mainHospitalBuildingFloor1)" class="unit">
            <div class="row">
                <div class="item office">
                    <h2 style="color:white" >Office 1</h2>
                    <div class="description">
                      <p><b>Office 1</b></p> 
                      <p>Description: Office for patients examinations</p>
                      <p>Doctor: Pera Peric</p>
                      <p>Business hours: 7:00 - 16:00</p>
                  </div>
                </div>
                <div class="item office">
                    <h2 style="color:white" >Office 2</h2>
                    <div class="description">
                      <p><b>Office 2</b></p> 
                      <p>Description: Office for patients examinations</p>
                      <p>Doctor: Milan Milanic</p>
                      <p>Business hours: 7:00 - 16:00</p>
                  </div>
                </div>
                <div class="item reception">
                    <h2 style="color:white" >Reception room</h2>
                    <div class="description">
                        <p><b>Reception room</b></p> 
                        <p>Description: Patient reception and referral room</p>
                        <p>Main nurse: Jovana Jovanic</p>
                        <p>Business hours: 7:00 - 19:00</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item waitingRoom">
                    <h2 style="color:white" >Waiting room</h2>
                </div>
            </div>
            <div class="row">
                <div class="item office">
                    <h2 style="color:white" >Office 3</h2>
                    <div class="description">
                        <p><b>Office 3</b></p> 
                        <p>Description: Office for patients examinations</p>
                        <p>Doctor: Jovan Jovic</p>
                        <p>Business hours: 7:00 - 16:00</p>
                    </div>
                    
                </div>
                <div class="item office">
                    <h2 style="color:white" >Office 4</h2>
                    <div class="description">
                      <p><b>Office 4</b></p> 
                      <p>Description: Office for patients examinations</p>
                      <p>Doctor: Milica Milic</p>
                      <p>Business hours: 7:00 - 16:00</p>
                  </div>
                </div>
                <div class="item elevator">
                    <h2 style="color:white" >Elevator</h2>
                </div>
                <div class="item toilet">
                    <h2 style="color:white" >Staff toilet</h2>
                </div>
                <div class="item toilet">
                    <h2 style="color:white" >Public toilet</h2>
                </div>
            </div>
            <div class="row">
                <div class="item backBotton" (click)="changeUnit(units.mapOfTheHospitalComplex)">
                  <h2 style="color:white" > Homepage </h2>
                  <img src="/assets/images/homeepage.jpg" width="50" height = "20">
                </div>
                <div class="item floorButton" (click)="changeUnit(units.mainHospitalBuildingFloor1)">
                  <h2 style="color:black"> Floor 1 </h2>
              </div>
              <div class="item floorButton" (click)="changeUnit(units.mainHospitalBuildingFloor2)">
                  <h2 style="color:white" > Floor 2 </h2>
              </div>
            </div>
        </div>
    
 

     

      <div *ngIf="isUnitSelected(units.mainHospitalBuildingFloor2)" class="unit">
         <div class="row">
            <div class="item office">
                <h2 style="color:white" >Office 1</h2>
                <div class="description">
                    <p><b>Office 1</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: Nada Nadic</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 2</h2>
                <div class="description">
                    <p><b>Office 2</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: Maja Malic</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 5</h2>
                <div class="description">
                    <p><b>Office 5</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: Mario Marjanovic</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="item waitingRoom">
                <h2 style="color:white" >Waiting room</h2>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 6</h2>
                <div class="description">
                    <p><b>Office 6</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: David Ninkovic</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 4</h2>
                <div class="description">
                    <p><b>Office 4</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: Katarina Ivanov</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item office">
                <h2 style="color:white" >Office 3</h2>
                <div class="description">
                    <p><b>Office 3</b></p> 
                    <p>Description: Office for patients examinations</p>
                    <p>Doctor: Jelena Jovanovic</p>
                    <p>Business hours: 14:00 - 19:00</p>
                </div>
            </div>
            <div class="item elevator">
                <h2 style="color:white" >Elevator</h2>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Staff toilet</h2>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Public toilet</h2>
            </div>
        </div>
        <div class="row">
            <div class="item backBotton" (click)="changeUnit(units.mapOfTheHospitalComplex)">
                <h2 style="color:white" > Homepage </h2>
                <img src="/assets/images/homeepage.jpg" width="50" height = "20">
            </div>
            <div class="item floorButton" (click)="changeUnit(units.mainHospitalBuildingFloor1)">
                <h2 style="color:white" > Floor 1 </h2>
            </div>
            <div class="item floorButton" (click)="changeUnit(units.mainHospitalBuildingFloor2)">
                <h2 style="color:black" > Floor 2 </h2>
            </div>
        </div>
     </div> 


     <div *ngIf="isUnitSelected(units.laboratory)" class="unit">
        <div class="row">
            <div class="item room">
                <h2 style="color:white" >Laboratory 1</h2>
                    <div class="description">
                        <p><b>Laboratory 1</b></p> 
                        <p>Description: Blood analysis</p>
                        <p>Doctor: Luka Cubrilo</p>
                        <p>Business hours: 7:00 - 15:00</p>
                    </div>
            </div>
            <div class="item room">
                <h2 style="color:white" >Laboratory 2</h2>
                    <div class="description">
                        <p><b>Laboratory 2</b></p> 
                        <p>Description: Sugar analysis</p>
                        <p>Doctor: Tamara Tamaric</p>
                        <p>Business hours: 7:00 - 15:00</p>
                    </div>
            </div>
            <div class="item room">
                <h2 style="color:white" >Laboratory 3</h2>
                    <div class="description">
                        <p><b>Laboratory 3</b></p> 
                        <p>Description: Blood analysis</p>
                        <p>Doctor: Milica Kacavenda</p>
                        <p>Business hours: 7:00 - 15:00</p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="item waitingRoom">
                <h2 style="color:white" >Waiting room</h2>
            </div>
            <div class="item reception">
                <h2 style="color:white" >Reception room</h2>
                <div class="description">
                    <p><b>Reception room</b></p>
                    <p>Description: Patient reception and referral room</p>
                    <p>Main nurse: Masa Masic</p>
                    <p>Business hours: 7:00 - 15:00</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item radiology">
                <h2 style="color:white" >Radiology room 1</h2>
                <div class="description">
                    <p><b>Radiology room 1</b></p>
                    <p>Description: X-Ray</p>
                    <p>Doctor: Vladimir Jovanovic</p>
                    <p>Business hours: 7:00 - 15:00</p>
                </div>
            </div>
            <div class="item radiology">
                <h2 style="color:white" >Radiology room 2</h2>
                <div class="description">
                    <p><b>Radiology room 2</b></p>
                    <p>Description: MRI scan</p>
                    <p>Doctor: Darko Darkovic</p>
                    <p>Business hours: 7:00 - 15:00</p>
                </div>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Staff toilet</h2>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Public toilet</h2>
            </div>
        </div>
        <div class="row">
            <div class="item backBotton" (click)="changeUnit(units.mapOfTheHospitalComplex)">
                <h2 style="color:white" > Homepage </h2>
                <img src="/assets/images/homeepage.jpg" width="50" height = "20">
            </div>
        </div>
    </div>


 

      <div *ngIf="isUnitSelected(units.ambulanceFloor1)" class="unit">
        <div class="row">
            <div class="item operationRoom">
                <h2 style="color:white" >Operating room 2</h2>
                <div class="description">
                    <p><b>Operating room 2</b></p>
                    <p>Description: Operating room for emergency operations</p>
                    <p>Doctor: Nikola Nikolic</p>
                    <p>Business hours: 00:00 - 24:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 1</h2>
                <div class="description">
                    <p><b>Office 1</b></p>
                    <p>Description: Room for patients examinations</p>
                    <p>Doctor: Violeta Ninkovic</p>
                    <p>Business hours: 00:00 - 24:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 2</h2>
                <div class="description">
                    <p><b>Office 2</b></p>
                    <p>Description: Room for patients checkups </p>
                    <p>Doctor: Jelena Marjanovic</p>
                    <p>Business hours: 00:00 - 24:00</p>
                </div>
            </div>
            <div class="item office">
                <h2 style="color:white" >Office 3</h2>
                <div class="description">
                    <p><b>Office 3</b></p>
                    <p>Description: Room for patients checkups</p>
                    <p>Doctor: Danijel Danijelic</p>
                    <p>Business hours: 00:00 - 24:00</p>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="item waitingRoom">
                <h2 style="color:white" >Waiting room</h2>
            </div>
        </div>
        <div class="row">
            <div class="item operationRoom">
                <h2 style="color:white" >Operating room 1</h2>
                <div class="description">
                    <p><b>Operating room 1</b></p>
                    <p>Description: Operating room for smaller operations</p>
                    <p>Doctor: Una Unic</p>
                    <p>Business hours: 00:00 - 24:00</p>
                </div>
            </div>
            <div class="item elevator">
                <h2 style="color:white" >Elevator</h2>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Staff toilet</h2>
            </div>
            <div class="item toilet">
                <h2 style="color:white" >Public toilet</h2>
            </div>
        </div>
        <div class="row">
            <div class="item backBotton" (click)="changeUnit(units.mapOfTheHospitalComplex)">
                <h2 style="color:white" > Homepage </h2>
                <img src="/assets/images/homeepage.jpg" width="50" height = "20">
            </div>
            <div class="item floorButton" (click)="changeUnit(units.ambulanceFloor1)">
                <h2 style="color:black" > Floor 1 </h2>
            </div>
            <div class="item floorButton" (click)="changeUnit(units.ambulanceFloor2)">
                <h2 style="color:white" > Floor 2 </h2>
            </div>
        </div>
     </div>

     <div *ngIf="isUnitSelected(units.ambulanceFloor2)" class="unit">
      <div class="row">
          <div class="item operationRoom">
              <h2 style="color:white" >Operating room</h2>
              <div class="description">
               <p><b>Operating room</b></p>
                <p>Description: Cardiac surgery</p>
                <p>Doctor: Nemanja Nemanjic</p>
                <p>Business hours: 00:00 - 24:00</p>
            </div>
          </div>
          <div class="item radiology">
              <h2 style="color:white" >Radiology room 1</h2>
              <div class="description">
                <p><b>Radiology room 1</b></p>
                <p>Description: X-Ray</p>
                <p>Doctor: Nenad Nenadovic</p>
                <p>Business hours: 00:00 - 24:00</p>
            </div>
          </div>
          <div class="item radiology">
              <h2 style="color:white" >Radiology room 2</h2>
              <div class="description">
                <p> <b>Radiology room 2</b></p>
                <p>Description: MRI scan</p>
                <p>Doctor: Nada Nadic</p>
                <p>Business hours: 00:00 - 24:00</p>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="item waitingRoom">
              <h2 style="color:white" >Waiting room</h2>
          </div>
      </div>
      <div class="row">
          <div class="item hospitalRoom">
              <h2>Hospital room 1</h2>
              <div class="description">
                <p> <b>Hospital room 1</b></p>
                <p>Description: Hospital room for patient’s care</p>
                <p>Doctor: none</p>
                <p>Business hours: 00:00 - 24:00</p>
            </div>
          </div>
          <div class="item hospitalRoom">
              <h2>Hospital room 2</h2>
              <div class="description">
                <p> <b>Hospital room 2</b></p>
                <p>Description: Hospital room for patient’s care</p>
                <p>Doctor: none</p>
                <p>Business hours: 00:00 - 24:00</p>
            </div>
          </div>
          <div class="item elevator">
              <h2 style="color:white" >Elevator</h2>
          </div>
          <div class="item toilet">
              <h2 style="color:white" >Public toilet</h2>
          </div>
          <div class="item toilet">
              <h2 style="color:white" >Staff toilet</h2>
          </div>
       </div>
       <div class="row">
        <div class="item backBotton" (click)="changeUnit(units.mapOfTheHospitalComplex)">
            <h2 style="color:white" > Homepage </h2>
            <img src="/assets/images/homeepage.jpg" width="50" height = "20">
        </div>
        <div class="item floorButton" (click)="changeUnit(units.ambulanceFloor1)">
            <h2 style="color:white" > Floor 1 </h2>
        </div>
        <div class="item floorButton" (click)="changeUnit(units.ambulanceFloor2)">
            <h2 style="color:black" > Floor 2 </h2>
        </div>
    </div>
    </div>

</div>