<section class="hero is-primary is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item w3-hover-white">
              <img
                src="assets/logo_white.png"
                alt="Logo"
              />
            </a>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered"> 
        <p class="title is-size-1">Cura Infinita</p>
        <p class="subtitle">We are glad you are here</p>
        <button class="button is-info w3-hover-white mr-5">Log in</button>
  
        <button class="button is-info w3-hover-white" onclick="window.location.href='/pharmacyRegistration'">Register</button>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a class="w3-hover-white" href="">Home</a></li>
            <li><a class="w3-hover-white" href="/dashboard">Dashboard</a></li>
            <li><a class="w3-hover-white" href="/allObjections">Objections view</a></li>
            <li><a class="w3-hover-white" href="/createObjection">Create objection</a></li>
            <li><a class="w3-hover-white" href="/feedbackview">Feedback View</a></li>
            <li><a class="w3-hover-white" href="/pharmacyRegistration">Pharmacy Registration</a></li>
            <li><a class="w3-hover-white" href="/actionsAndNews">Actions and news</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  