<div>
    <h1>Pharmacy registration</h1>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <label>Name</label>
        <input type="text" name="Name" [(ngModel)]="model.Name" required>
        <label>API Key</label>
        <input type="text" name="ApiKey" [(ngModel)]="model.ApiKey" required>
        <label>Url</label>
        <input type="text" name="Url" [(ngModel)]="model.Url" required>
        <label>Port</label>
        <input type="number" name="PortNum" [(ngModel)]="model.PortNum">
        <input type="submit">
    </form>
</div>