
<div>
    <table class="w3-table-all w3-card-4">
        <thead>
            <th>Id Pacijenta</th>
            <th>Tekst</th>
            <th>Datum</th>
        </thead>
        <tbody *ngFor='let feedback of feedbacks'>
            <tr>
                <td>{{feedback.patientId}}</td>
                <td>{{feedback.content}}</td>
                <td>{{feedback.date}}</td>
                <td *ngIf='!feedback.isPublishable' class="w3-small">
                    Not publishable
                </td>
                <td *ngIf='!feedback.isApproved && feedback.isPublishable'>
                    <button class="w3-hover-white w3-button w3-round w3-black w3-small" (click)="aprroveFeedback(feedback.id)" >Approve</button>
                </td>
                <td *ngIf='feedback.isApproved'>
                    <button class="w3-hover-white w3-black w3-round w3-button w3-small" (click)="removeFeedback(feedback.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
